<% if logged_in? %>
  <div class="row">
    <div class="col-md-8">
      <h3>大喜利の回答一覧</h3>
      <%= render 'shared/feed' %>
    </div>
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
<div class="center jumbotron">

<%= image_tag "natsuhodo.png", alt: "Natsuhodo logo", width: "400" %>

  <h2>
    20文字以内で、みんなを「懐かしい」気持ちにさせる大喜利アプリ!
  </h2>

  <p>
  「忘れかけていたけど、確かに昔そういうのあったよね!?」<br>

  こんな感じで、他の人と打ち解けた経験がある人は多いのではないでしょうか?<br>

  流行語、お笑い、映画、アニメ、テレビ番組、CM、などなど、<br>

  みなさんの「懐かしい!」を通して、多くの交流が生まれることを願っています。<br>

  </p>

  <%= link_to "ログイン", login_path , class: "btn btn-lg btn-primary" %>
</div>
<% end %>
